<include file="Public/header" title="{$title}" />
<script type="text/javascript" src="js/swiper-3.4.2.min.js"></script>
		<!--大图-->
		<div class="j_banner">
			<div class="swiper-container swiperBN">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><div class="bg_banner bg_banner1"></div></div>
					<div class="swiper-slide"><div class="bg_banner bg_banner2"></div></div>
				</div>
				<div class="swiper-pagination"></div>
				<div class="tip">
					<img src="img/tip_r.png" alt="" class="tip_r"/>
					<img src="img/tip_l.png" alt="" class="tip_l"/>
				</div>
			</div>
			<div class="download">
				<span class="time">{$version.update_time|substr=0,10}</span><span class="txt">{$version.body}</span>
				<a href="/static/web/LuckyLockScreen.apk"><img src="img/dw.jpg" alt=""/></a>
			</div>
		</div>
		<!--商品简介-->
		<div class="j_intro" id="j_intro">
			<div class="content w1400">
				<p>金锁是上海洞察力软件信息科技有限公司倾力打造的国内领先的微任务众包平台，让人人享受利用碎片化时间赚钱的乐趣。</p>
				<p>目前已有2650232人通过平台赚取了可观的收入。</p>
				<p>金锁同时为各类有新媒体推广需求的企业（品牌）提供高效快捷，真实精确的线上流量解决方案。依托于平台强大的数据积累，根据用户阅读习惯和转发习惯匹配相应的圈层的意见领袖（KOL），实现流量倍增。帮助客户解决内容流量曝光、产品推介、促销触达、问卷调研等多种营销需求痛点。</p>
				<p>金锁目前已帮助          个企业（品牌）带来累积近          的曝光，社会化媒体平台资源覆盖          人群。</p>
				<img src="img/phone.png" alt="" class="phone"/>
				<img src="img/bg_line.png" alt="" class="bg_line"/>
			</div>
		</div>
		<!---->
		<div class="j_flow_p">
			<div class="flow-list clearfix">
				<div class="item">
					<span class="icon"><img src="img/x_q.png" alt=""></span>
					<span>需求者</span>
				</div>
				<div class="tip">
					<img src="img/tip.png" alt=""/>
					<span>付出</span>
				</div>
				<div class="item">
					<span class="icon"><img src="img/delo.png" alt=""></span>
					<span>金币</span>
				</div>
				<div class="tip">
					<img src="img/tip.png" alt=""/>
					<span>得到</span>
				</div>
				<div class="item">
					<span class="icon"><img src="img/mt.png" alt=""></span>
					<span>媒体推广</span>
				</div>
				<div class="tip">
					<img src="img/tip.png" alt=""/>
					<span>完成</span>
				</div>
				<div class="item">
					<span class="icon"><img src="img/r_w.png" alt=""></span>
					<span>任务</span>
				</div>
				<div class="item">
					<span class="icon"><img src="img/tg.png" alt=""></span>
					<span>推广者</span>
				</div>
				<div class="tip">
					<img src="img/tip.png" alt=""/>
					<span>完成</span>
				</div>
				<div class="item">
					<span class="icon"><img src="img/over.png" alt=""></span>
					<span>媒体推广任务</span>
				</div>
				<div class="tip">
					<img src="img/tip.png" alt=""/>
					<span>得到</span>
				</div>
				<div class="item">
					<span class="icon"><img src="img/delo.png" alt=""></span>
					<span>金币</span>
				</div>
			</div>
		</div>
		<!--help 问题-->
		<div class="j_get">
			<h2>上金锁能做什么?<hr/></h2>
			<ul class="hp_li clearfix" id="work_key">
				
			</ul>
		</div>
		<div class="j_pro" id="j_pro">
			<h2>FAQ常见问题<hr/></h2>
			<div class="w1400 clearfix" id="pro_key">
				<div class="fl" style="width: 50%;">
					<div class="pro_key">
						<h3><img src="img/dot.jpg" alt="">在金锁完成有奖推广任务是否收费？</h3>
						<p>用户在金锁平台完成奖励任务是完全免费的，不收取任何费用。</p>
					</div>
					<div class="pro_key">
						<h3><img src="img/dot.jpg" alt="">金锁平台有奖推广任务是如何计费的？</h3>
						<p>根据金锁平台上的具体每个任务所制定的奖励金额进行结算。</p>
					</div>
					<div class="pro_key">
						<h3><img src="img/dot.jpg" alt="">完成有奖推广任务后，怎样查看奖励到账情况？</h3>
						<p>请详细查阅《金锁平台任务推广流程及规则》。</p>
					</div>
					<div class="pro_key">
						<h3><img src="img/dot.jpg" alt="">如何将账户中的现金提出？提现是否收取手续费？</h3>
						<p>1000金币可兑换¥1，目前用户可以按四种固定额度（¥15、¥30、¥50、¥100）提现。单次提现不足¥100的，收取1元手续费，单次提现满¥100的，不收手续费。</p>
					</div>
					<div class="pro_key">
						<h3><img src="img/dot.jpg" alt="">如果提现出现问题，应该怎样解决？</h3>
						<p>如果提现过程中您有任何疑问或出现任何问题，可联系金锁官方客服电话：xxxxxxxxx</p>
					</div>
					<div class="pro_key">
						<h3><img src="img/dot.jpg" alt="">在金锁发布有奖推广任务是否收费？</h3>
						<p>在金锁平台发布任务信息是完全免费的，金锁平台不收取任何费用。您在发布任务的同时，可根据自身需要，设置任务奖励金额奖励将直接发放到推广人账户中。</p>
					</div>
					<div class="pro_key">
						<h3><img src="img/dot.jpg" alt="">邀请好友成为注册用户，能够获得怎样的奖励，如何查看？</h3>
						<p>详情请查看《金锁平台好友邀请奖励暂行办法》</p>
					</div>
				</div>
				<div class="fr" style="width: 50%;">
					<div class="pro_key">
						<h3><img src="img/dot.jpg" alt="">完成任务后忘记按要求完成资料留存该怎么办？</h3>
						<p>☆【请补充】[暂时删除]</p>
					</div>
					<div class="pro_key">
						<h3><img src="img/dot.jpg" alt="">个人用户如何发布兼职信息？</h3>
						<p>目前金锁并不支持个人用户直接发布有奖推广任务，您可以重新注册企业账户进行认证后发布。</p>
					</div>
					<div class="pro_key">
						<h3><img src="img/dot.jpg" alt="">如何举报不良推广信息？</h3>
						<p>在金锁每个用户都有举报不良信息的权利，如果您在使用金锁的过程中发现信息不符合规范，您可以针对该信息进行举报；具体操作步骤如下：请先登录自己的金锁帐号，点击信息详情页的“举报”按钮，您可以描述举报内容或直接点击“提交”就可以举报成功。金锁运营团队将在第一时间核实后予以严肃处理，净化金锁平台环境。</p>
					</div>
					<div class="pro_key">
						<h3><img src="img/dot.jpg" alt="">用手机如何发布有奖推广任务？</h3>
						<p>目前可以前往安卓商店搜索“金锁”完成下载，完成注册即可发布登录后台发布任务。</p>
					</div>
					<div class="pro_key">
						<h3><img src="img/dot.jpg" alt="">日常平台常规用户活跃度任务奖励发放额度及机制？</h3>
						<p>详情请查看《金锁平台用户活跃奖励暂行办法》</p>
					</div>
					<div class="pro_key">
						<h3><img src="img/dot.jpg" alt="">如何关注金锁微信公众号及小程序</h3>
						<p>您可以点击“联系我们”扫码即可关注。</p>
					</div>
				</div>
			</div>
		</div>
		<!--footer-->
		<div class="j_foter">
			<div class="swiper-container swiperFT">
				<div class="swiper-wrapper">
					<volist name="recommend_list" id="vo">
					<div class="swiper-slide">
					    <div class="w1400 j_swiper">
							<div class="content clearfix">
								<!--轮播内容-->
							      <div class="f_pro_key">
									<img src="{$vo.head_img}">
									<div class="p_inf">
										<h3>{$vo.title}</h3>
										<p>{$vo.content}</p>
										<span>——{$vo.author}</span>
									</div>
								</div>
							</div>
						</div>  	
					</div>
					</volist>
				</div>
				<div class="swiper-pagination"></div>
				<div class="btn_clik w1400">
					<div class="swiper-button-prev active" id="next_pro"><img src="img/next.jpg" alt=""></div>
    				<div class="swiper-button-next" id="pre_pro"><img src="img/pre.jpg" alt=""></div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			(function(){
				function news(){
					this.w_p=[
						{
							icon:"pointer.jpg",
							tit:"动动手指，轻松赚钱",
							txt:"利用您碎片化时间，每天只需轻轻点击，按要求操作，就可赚取推广（试用）奖励；"
						},
						{
							icon:"hot_medio.png",
							tit:"自媒体推广",
							txt:"金锁帮助自媒体大号快速实现流量变现，同时为品牌方导入更多优质曝光，提升转化效果。"
						},
						{
							icon:"course.png",
							tit:"任务体验",
							txt:"随时随地完成应用体验、内容分享、拍照/视频、在线调研等等多种多样的任务，奖励高，轻轻松松就能赚钱；"
						},
						{
							icon:"gift.jpg",
							tit:"奖励丰富，等你来兑",
							txt:"赚取金币可以提现到支付宝、微信钱包等，还可以快速兑换Q币、话费、各类会员等等超值礼品；"
						},{
							icon:"money.png",
							tit:"提现快捷",
							txt:"15元就能提现，最快30分钟到账；"
						},
						{
							icon:"seek.png",
							tit:"有趣资讯，开心阅读",
							txt:"金锁还为您准备了海量趣味资讯，让您在闲暇之余开心阅读；"
						},
						{
							icon:"roof.png",
							tit:"开放平台，快速发布",
							txt:"金锁面向个人、企业（品牌），提供自助式的推广，任务发布平台"
						}
					];
				}
				news.prototype = {
					init:function(){
						var scope = this,
							mySwipers = new Swiper('.swiperBN', {
								autoplay: 40000,//可选选项，自动滑动
								pagination : '.swiper-pagination',
								loop: true
							}),
							mySwiper = new Swiper('.swiperFT', {
								autoplay: 30000,//可选选项，自动滑动
								pagination : '.swiper-pagination',
								loop: true,
								prevButton:'.swiper-button-prev',
								nextButton:'.swiper-button-next',
							});
						scope.initHTML();
					},
					
					newsType:function(){
						
					},
					//生成html
					initHTML:function(){
						//console.log("12346");
						var scope = this,
							work_html = '', //能做什么HTML
							work_key = scope.w_p;
						for(var j = 0; j <= work_key.length; j++){
							if( j == work_key.length){
								work_html += '<li class="more">' +
												'<div class="addMore">' +
													'<img src="img/add_more.png">' +
													'<h2>了解更多</h2>' +
												'</div>' +
											'</li>';
								break;
							}
							work_html +='<li><div class="top">'+
											'<div class="icon">'+
												'<img src="img/'+ work_key[j].icon +'" alt="">'+
											'</div>' +
												'<h2>'+ work_key[j].tit +'</h2>' +
											'</div>' +
											'<div class="inf">'+ work_key[j].txt +'</div>'+
										'</li>';
						}
						$("#work_key").html(work_html);
					}
				}
				var runs = new news();
				runs.init();
			})()
		</script>
<include file="Public/footer" />