@charset "utf-8";
@import "base.scss";
@import "common1.scss";
/*顶部*/
.j_top{
	height: 32px;
	line-height: 32px;
	color: #818181;
	border: 1px solid  #eae9e9;
	overflow: hidden;
	font-size: 12px;
	a{
		padding: 0 8px;
	}
}
.head_nav{
	height: 0.9rem;
	line-height: 0.9rem;
	background: #fff;
	.logo{
		width: 3.6rem;
		float: left;
		position: relative;
		img:first-child{
			position: absolute;
			top: 0.1rem;
			left: 0;
			width: 0.7rem;
			height: 0.7rem;
		}
		img:last-child{
			position: absolute;
			top: 0.29rem;
			left: 0.9rem;
			line-height: 0.9rem;
			width: 2.32rem;
		}
	}
	.nav_r_li{
		float: right;
		>li{
			float: left;
			font-size: 0.16rem;
			margin-left: 0.54rem;
			a{
				color: #18191b;
			}
			a:hover{
				color: #f84831;
			}
		}
		.active{
			a{
				color: #f84831;
			}
		}
	}
}
/*大图样式*/
.j_banner{
	position: relative;
	height: 6.3rem;
	.bg_banner{
		width: 100%;
		height: 6.3rem;
		background-image: url("../../img/page.jpg");
		background-color: #fff;
		background-position: center;
		background-size: auto 100%;
	}
	.download{
		position: absolute;
		z-index: 3;
		left: 0;
		right: 0;
		bottom: -0.35rem;
		margin: 0 auto;
		background: #f84831;
		width: 10rem;
		height: 0.7rem;
		line-height: 0.7rem;
		padding: 0 0.24rem;
		font-size: 0.12rem;
		.time{
			color: #000;
			padding-right: 16px;
			font-size: 12px;
		}
		.txt{
			color: #fff;
			font-size: 0.16rem;
		}
		>a{
			position: absolute;
			top: 0;
			right: 0;
			width: 2.34rem;
			height: 100%;
			img{
				float: left;
				width: 100%;
				height: 100%;
			}
		}	
	}
	.tip{
		position: absolute;
		z-index: 100;
		bottom: 0.6rem;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 0.95rem;
		height: 0.3rem;
		>.tip_r{
			position: absolute;
			top: 0;
			left: 0;
		}
		>.tip_l{
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	/*重置轮播分页器*/
	.swiper-container-horizontal>.swiper-pagination-bullets{ bottom: 0.6rem; }
	.swiper-pagination-bullet{
		width: 0.12rem;
		height: 0.12rem;
		opacity: 1;
		background: #fff;
	}
	.swiper-pagination-bullet-active{ background: yellow;}
}
/*简介*/
.j_intro{
	width: 100%;
	background: #fff;
	height: 8.18rem;
	position: relative;
	overflow: hidden;
	.content{
		padding-top: 1rem;
		text-align: center;
		color: #5a5a5a;
		font-size: 14px;
		p{
			max-width: 12rem;
			margin: 0 auto;
			line-height: 0.25rem;
		}
		.phone{
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			bottom: 0.8rem;
			z-index: 1;
			width: 6.32rem;
			height: 4.64rem;
		}
		.bg_line{
			width: 80%;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			bottom: -1.6rem;
			left: 0;
		}
	}
}
.j_flow_p{
	position: relative;
	height: 3.42rem;
	width: 100%;
	background-image: url("../../img/picjumbo.png");
	background-position: center;
	background-image: auto 100%;
	.flow-list{
		margin:0 auto;
		width: 7.92rem;
		padding-top: 0.9rem;
	}
	.item{
		float: left;
		height: 0.6rem;
		line-height: 0.6rem;
		color: #fff;
		font-size: 0.18rem;
		margin-bottom: 0.4rem;
		.icon{
			display: inline-block;
			padding: 0 0.1rem;
			height: 100%
		}
		img{
			height: 100%;
		}
	}
	.tip{
		position: relative;
		float: left;
		width: 0.76rem;
		height: 0.6rem;
		line-height: 0.6rem;
		margin: 0 0.10rem 0.4rem;
		text-align: center;
		>img{
			width: 100%;
		}
		>span{
			line-height: 0.36rem;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			color: #fff;
			font-size: 0.18rem;
		}
	}
}
.j_get{
	max-width: 1142px;
	margin: 0 auto;
	padding-bottom: 0.92rem;
	>h2{
		position: relative;
		text-align: center;
		color: #000;
		font-size: 0.24rem;
		line-height: 0.44rem;
		padding: 0.4rem 0;
		hr{
			display: block;
			width: 0.92rem;
			margin: 0 auto;
			background: #8b8b8b;
			height: 2px;
		}
	}
	>.hp_li{
		width: 100%;
		margin: 0 auto;
		li{
			float: left;
			background-color: #f7f7f7;
			width: 24%;
			height: 320px;
			box-shadow: 0 0 3px #ccc;
			margin-right: 1.3%;
			margin-bottom: 18px;
			.addMore{
				text-align: center;
				padding-top: 76px;
				>h2{
					color: #333;
					margin-top: 30px;
					font-size: 0.18rem;
				}
			}
			.top{
				height: 184px;
				>h2{
					text-align: center;
					overflow: hidden;
					width: 100%;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-size: 0.18rem;
					color: #000;
				}
			}
			.icon{
				text-align: center;
				line-height: 140px;
			}
			.inf{
				height:135px;
				text-align: center;
				padding: 33px 18px; 
				font-size: 12px;
				color: #777;
				background-color: #fff;
				line-height: 20px;
			}
		}
		li:nth-child(4n){
			margin-right: 0;
		}
		li:hover{
			box-shadow: 0 0 15px #ccc;
		}
		.more{ 
			border: 1px dotted #ccc;
			background: #f0f0f0;
		}
	}
}
.j_pro{
	background-color: #fff;
	padding-bottom: 0.75rem;
	>h2{
		position: relative;
		text-align: center;
		color: #000;
		font-size: 0.24rem;
		line-height: 0.44rem;
		padding: 0.4rem 0;
		hr{
			display: block;
			width: 0.92rem;
			margin: 0 auto;
			background: #000;
			height: 2px;
		}
	}
	#pro_key{
		min-height: 478px;
	}
	.pro_key{
		padding-bottom: 0.2rem;
		padding: 0 0.2rem 0.2rem;
		>h3{
			font-size: 0.16rem;
			color: #000;
			img{
				margin-right: 3px;
			}
		}
		>p{
			color: #777;
			font-size: 12px;
			line-height: 0.25rem;
		}
	}
}
/*常见问题样式*/
.j_foter{
	height: 380px;
	/*重置轮播图*/
	.swiper-pagination-bullet{
		border-radius: 0;
		width: 12px;
		height: 12px;
		background-color: #acacac;
	}
	.swiper-pagination-bullet-active{
		background-color: #e84c3d;
	}
	.btn_clik{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 0.3rem;
	}
	.swiper-button-prev,.swiper-button-next{
		font-size: 0.01rem;
		background-image: none;
		width: 0.3rem;
		height: 0.3rem;
		background: #fff;
		line-height: 0.3rem;
		text-align: center;
	}
	.swiper-container-horizontal>.swiper-pagination-bullets{ bottom: 0; }
	.swiper-button-prev.active,.swiper-button-next.active{ background: #e84c3d; }
	.swiper-button-prev{left: 0;}
	.swiper-button-next{left: 0.3rem;}
	.j_swiper{
		min-height: 3.13rem;
		.content{
			min-height: 2.62rem;
			border-bottom: 1px solid #cbcbcb;
		}
		.f_pro_key{
			position: relative;
			width: 10.12rem;
			min-height: 2.48rem;
			margin: 0 auto;
			img{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 1.19rem;
			}
		}
		.p_inf{
			float: right;
			width: 8.57rem;
			font-size: 0.12rem;
			>h3{
				height: 1.62rem;
				line-height: 1.62rem;
				text-align: center;
				font-size: 0.24rem;
				color: #000;
			}
			>p{
				font-size: 14px;
				width: 100%;
				color: #666;
			}
			>span{
				font-size: 14px;
				color: #000;
			}
		}
	}
	.next_pro{
		position: relative;
		z-index: 1000;
		margin-top: -0.3rem;
		>span{
			display: inline-block;
			width: 0.3rem;
			height: 0.3rem;
			background: #fff;
			line-height: 0.3rem;
			text-align: center;
		}
		.active{
			background: #e84c3d;
		}
	}
}
/*底部样式*/
.j_f_end{
	background-color: #262626;
	min-height: 3.03rem;
	width: 100%;
	.c_nav{
		min-height: 2.34rem;
		border-bottom: 1px solid #444;
	}
	.n_b_l{
		position: relative;
	}
	.l_ter{
		float: left;
		padding-top: 0.64rem;
		margin-right: 1.52rem;
		>p{
			color: #999;
			line-height: 22px;
			font-size: 0.14rem;
			width: 5.4rem;
			margin-bottom: 0.24rem;
		}
		img{
			margin-right: 4px;
			width: 0.46rem;
			height: 0.46rem;
		}
		>div{
			font-size: 0.01rem;
		}
	}
	.m_way{
		float: left;
		border-bottom: 1px solid #666;
		margin-bottom: 0.2rem;
		>.pic_w{
			height: 0.34rem;
			line-height: 0.34rem;
			font-size: 0.18rem;
			color: #999;
			width: 1.55rem;
			>img{
				margin-right: 4px;
				width: 0.29rem;
				height: 0.29rem;
			}
		}
		>p{
			font-size: 0.14rem;
			color: #999;
			line-height: 0.28rem;
		}
	}
	.m_way:first-child{
		margin-right: 0.64rem;
	}
	.pos{
		float: left;
		padding-top: 0.64rem;
		width: 28%;
	}
	.r_QR{
		position: absolute;
		top: 0.39rem;
		right: 0;
		width: 2.7rem;
		text-align: right;
		>img{ 
			margin-bottom: 8px;
			width: 1rem;
			height: 1rem;
		}
		>p{
			font-size: 12px;
			color: #515151;
		}
	}
	.weight{
		height: 0.69rem;
		line-height: 0.69rem;
		font-size: 12px;
		color: #999;
	}
}
/*新闻详情页*/
.j_d_banner{
	width: 100%;
	height: 2.52rem;
	background-image: url("../../img/news_d.jpg");
	background-color: #fff;
	background-position: center;
	background-size: auto 100%;
}
.new_d{
	>h2{
		color: #333;
		font-size: 0.3rem;
		padding: 0.48rem 0 0.3rem 0;
		text-align: center;
	}
	>.sub_tit{
		background: #f2f2f2;
		height: 0.4rem;
		line-height: 0.4rem;
		text-align: center;
		margin-bottom: 0.28rem;
		font-size: 0.01rem;
		>span{
			margin-right: 0.2rem;
			color: #636262;
			font-size: 0.14rem;
		}
	}
	>p{
		margin-bottom: 0.4rem;
		line-height: 0.28rem;
		font-size: 0.15rem;
		color: #333;
		text-indent: 0.28rem;
	}
	>.big_img{
		margin-bottom: 0.4rem;
		text-align: center;
		img{
			width: 9.42rem;
			height: 5.9rem;
		}
	}
	>h4{
		font-size: 15px;
		color: #333;
		font-weight: bold;
	}
}
/*金锁动态*/
.j_status{
	width: 75%;
	max-width: 13.24rem;
	margin: 0 auto;
	>h2{
		position: relative;
		text-align: center;
		color: #000;
		font-size: 0.24rem;
		line-height: 0.44rem;
		padding: 0.4rem 0;
		hr{
			display: block;
			width: 0.92rem;
			margin: 0 auto;
			background: #8b8b8b;
			height: 2px;
		}
	}
	.trends{
		>li{
			width: 23.5%;
			height: 3.74rem;
			background: #fff;
			margin: 0 1.5% 0.58rem 0;
			float: left;
			-webkit-transition: box-shadow 0.3s ease;
			-moz-transition: box-shadow 0.3s ease;
			transition: box-shadow 0.3s ease;
			>img{
				width:100%;
				height: 1.4rem;
			}
			>.inf_pic{
				padding: 0.12rem 0.26rem;
				>h3{
					font-size: 0.18rem;
					color: #333;
					text-align: center;
					line-height: 0.36rem;
				}
				>p{
					font-size: 0.12rem;
					color: #777;
					line-height: 0.18rem;
				}
				>a{
					width: 1.3rem;
					height: 0.35rem;
					line-height: 0.35rem;
					text-align: center;
					color: #333;
					font-size: 0.14rem;
					display: block;
					margin: 0.2rem auto 0 auto;
					border: 1px solid #a2a2a2;
				}
			}
		}
		>li:hover{
			border-bottom: 2px solid  #f84831;
			box-shadow: 0px 6px 30px #bbb;
			>.inf_pic{
				>a{
					color: #f84831;
					border: 1px solid #f84831;
				}
			}

		}
		>li:nth-child(4n){
			margin-right: 0;
		}
	}
	.j_pagination{
		position: relative;
		width: 100%;
		height: 0.7rem;
		margin-bottom: 0.58rem;
		ul{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 0.3rem;
			width: 7.2rem;
			text-align: center;
			li{
				float: left;
				display: inline-block;
				border: 1px solid #dcdcdc;
				height: 0.3rem;
				line-height: 0.3rem;
				background: #fff;
				text-align: center;
				font-size: 0.14rem;
				color: #514f4f;
				cursor: pointer;
			}
			.n_p{
				width: 1rem;
				margin-left: 0.05rem;
			}
			.num{
				padding: 0 0.12rem;
				margin-left: 0.05rem;
			}
			.none{
				width: 0.3rem;
				background: transparent;
				border: none;
			}
			li:hover{
				background: #f84831;
				color: #fff;
			}
			.none:hover{
				background: transparent;
				color: #514f4f;
			}
		}
	}

}
@media screen and (min-width: 1200px){
	html{
		font-size: 100px;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1200px){
	html{
		font-size: 90px;
	}
}
@media screen and (min-width: 900px) and (max-width: 1000px){
	html{
		font-size: 80px;
	}
	.j_f_end{
		.l_ter{
			float: left;
			padding-top: 0.64rem;
			margin-right: 0.5rem;
		}
	}
}
@media screen and (min-width: 750px) and (max-width: 900px){
	html{
		font-size: 70px;
	}
	.j_f_end{
		.l_ter{
			float: left;
			padding-top: 0.64rem;
			margin-right: 0.5rem;
		}
	}
}