<ul class="nav navbar-nav side-nav">
    <li><a href="{:U('index/index')}"><i class="fa fa-dashboard"></i> 仪表盘</a></li>
    <li class="dropdown">
        <a href="{:U('grab/index')}"><i class="fa fa-files-o"></i> 采集管理</a>
    </li>
    <li class="dropdown">
        <a href="{:U('news/index')}"><i class="fa fa-files-o"></i> 新闻管理</a>
    </li>
    <li class="dropdown">
        <a href="{:U('wealth/conversion')}"><i class="fa fa-files-o"></i> 提现管理</a>
    </li>
    
    <li class="dropdown">
        <a href="{:U('single/index')}"><i class="fa fa-file-text-o"></i> 单页管理 </a>
    </li>
    <li class="dropdown">
        <a href="{:U('singlelist/index')}"><i class="fa fa-users"></i> 单页列表管理</a>  
    </li>
    <li class="dropdown">
        <a href="{:U('feedback/index')}"><i class="fa fa-file-text-o"></i> 反馈管理 </a>
    </li>
    <li class="dropdown">
        <a href="{:U('version/index')}"><i class="fa fa-file-text-o"></i> 版本管理 </a>
    </li>
    <li class="dropdown">
        <a href="{:U('user/index')}"><i class="fa fa-users"></i> 用户管理</a>  
    </li>
    <li class="dropdown">
        <a href="{:U('report/index')}"><i class="fa fa-users"></i> 举报管理</a>  
    </li>
    
    <li class="dropdown">
        <a href="{:U('member/index')}"><i class="fa fa-users"></i> 后台用户管理</a>  
    </li>
    
    <li class="dropdown">
        <a href="{:U('message/index')}"><i class="fa fa-users"></i> 消息管理</a>  
    </li>
    
    <li class="dropdown">
        <a href="{:U('earnings/index')}"><i class="fa fa-users"></i> 收益管理</a>  
    </li>
    
    <li class="dropdown">
        <a href="{:U('earningsitem/index')}"><i class="fa fa-users"></i> 收益明细管理</a>  
    </li>
    
    <li class="dropdown">
        <a href="{:U('websitenews/index')}"><i class="fa fa-users"></i> 官网新闻管理</a>  
    </li>
    
     <li class="dropdown">
        <a href="{:U('websiterecommend/index')}"><i class="fa fa-users"></i> 官网推荐管理</a>  
    </li>
    
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> 系统设置 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{:U('setting/index')}">自定义字段</a></li>
            <li><a href="#">系统优化</a></li>
            <li><a href="#">缓存管理</a></li>
        </ul>
    </li>
</ul>