<include file="Public/header" title="收益报表管理" />
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-6">
            <!-- <a href="{:U('category/add')}" class="btn btn-success">添加分类</a> -->
        </div>
        <div class="col-md-6">
            <form action="{:U('earnings/index')}" method="post">
                <div class="form-group input-group">
                    <input type="text" class="form-control" name="key" placeholder="输入用户或者手机号搜索" value="{$key}">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>日期</th>
                <th>用户id</th>
                <th>手机</th>
                <th>昵称</th>
                <th>各类收益项目的次数</th>
                <th>金额合计</th>
                <th>类型</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <foreach name="model" item="v">
            <tr>
	            <td>{$v.cdate}</td>
	            <td>{$v.user_id}</td>
	            <td>{$v.mobile}</td>
	            <td>{$v.nickname}</td>
	            <td>{$v.coin}金币</td>
	            <td>{$v.sum}金币</td>
	            <td>{$v.type}</td>
	            <td><a href="{:U('earningsitem/index')}&key={$v.user_id}">明细</a></td>
            </tr>
        </foreach>
        </tbody>
    </table>
    <div></div>
    <div style="text-align:center">{$page}</div>
</div>
<include file="Public/footer" />
