<!--底部-->
		<div class="j_f_end" id="j_f_end">
			<div class="c_nav">
				<div class="w1400 n_b_l">
					<div class="l_ter">
						<p>我们倾力打造的国内领先的微任务众包平台，让人人享受利用碎片化时间赚钱的乐趣。
帮助客户解决内容流量曝光、产品推介、促销触达、问卷调研等多种营销需求痛点。</p>
						<div>
							<a href="javascript:;"><img src="img/wb.jpg" alt=""></a>
							<a href="javascript:;"><img src="img/wx.jpg" alt=""></a>
							<a href="javascript:;"><img src="img/qq.jpg" alt=""></a>
						</div>
					</div>
					<div class="pos clearfix">
						<div class="m_way"  id="mway1">
							<div class="pic_w"><img src="img/ph.png"><span>咨询热线</span></div>
							<p>400-011-2158</p>
						</div>
						<div class="m_way" id="mway2">
							<div class="pic_w"><img src="img/file.png"><span>媒体合作邮箱</span></div>
							<p>jinsuo@71360.com</p>
						</div>
					</div>
					<div class="r_QR">
						<img src="img/ewm.jpg">
						<p>使用手机扫描二维码下载</p>
						<p>或使用安卓手机游览器输入</p>
						<p>jinsuo.71360.com/m快速下载金锁安卓包</p>
					</div>
				</div>
			</div>
			<div class="w1400 weight">
				版权所有：©金锁 上海珍岛信息技术有限公司  jinsuo.71360.com All Rights Reserved.  备案号：沪8885685备
			</div>
		</div>
	</body>
</html>
