<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>{$title}</title>
		<link rel="stylesheet" type="text/css" href="css/style/style1.css?ver=20170818"/>
		<link rel="stylesheet" type="text/css" href="css/style/swiper-3.4.2.min.css"/>
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	</head>
	<body>
		<div class="j_top">
			<div class="w1400 clearfix">
				<span>欢迎访问金锁APP 人人都是金主 做推广 赚金币~</span>
				<div class="fr"><a href="{:U('Index/index')}#mway2">合作邮箱</a>|<a href="{:U('Index/index')}#j_pro">常见问题</a></div>
			</div>
		</div>
		<!--头部-->
		<div class="head_nav">
			<div class="w1400 clearfix">
				<div class="logo">
					<img src="img/logo_03.png" alt=""/>
					<img src="img/j_r.jpg" alt=""/>
				</div>
				<ul class="nav_r_li">
					<li><a href="/">首页</a></li>
					<li><a href="{:U('Index/index')}#j_pro">相关问答</a></li>
					<li><a href="{:U('Index/newslist')}">动态</a></li>
					<li><a href="{:U('Index/index')}#j_intro">关于我们</a></li>
					<li><a href="{:U('Index/index')}#j_f_end">联系我们</a></li>
				</ul>
			</div>
		</div>
		